.navbar-nav {
    position: relative;
    color: white;
    font-size: 15px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    padding: 5px;
    margin: 8px;
    border-radius: 2px solid white;
    box-shadow: 0 2px 5px 0 rgba(20, 20, 20, 0.3);
}

.navbar-title {
    position: relative;
    float: right;
}

.logo img {
    position: relative;
    float: left;
}

.main {
    background-color: #FAA519;
    color: white;
    position: relative;    
    padding: 7px;
    box-shadow: 0 2px 5px 0 rgba(20, 20, 20, 0.3);
}

.title {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.logotipo {
    float: left;
}